<!-- Registry Section -->
<section id="Registry">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Registry</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
      <!-- <div class="col-md-8 col-md-offset-2 text-center"> -->
        <!-- Removed the plane icon -->
        <p class="text-muted">
            Anyone who knows us knows that we are asked what we would like as a wedding gift, our answer is and always will be 
            NOTHING but love, your time and your company when we can get it. Time with our loved ones is the most precious 
            thing, especially while we live across the ocean. If you do insist, however- we are saving up to go on a honeymoon sometime in the next year! 
            Any contributions would be so kind but are COMPLETELY optional! 
        </p>
        <p>
        <a href="https://www.paypal.com/pool/9heZRxOMuw?sr=wccr" class="btn btn-primary" target="_blank">Visit Our Fund</a>
        </p>
      </div>
    </div>
  </div>
</section>
