<!-- Venue Section -->
<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sri Vishnu Mahal</h2>
                <h3 class="section-subheading text-muted">Arcot Road, Chennai</h3>
            </div>
        </div>
        <style>
        .google-maps {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
        </style>

        <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.8110684555954!2d80.1992244110389!3d13.047694887221638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5266c427b76a7d%3A0x668756c749d059d5!2sShri%20Vishnu%20Mahal!5e0!3m2!1sen!2sin!4v1754585273011!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>